{% extends "layout.html" %}
{% block content %}

<h1>Reached here after sending a mail from General report !</h1>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->


<form action="{% url 'mail_sender:confirm_gen' %}" method="post" novalidate>
     <div class="form-group">
         {{ form }}
     </div>

     <div class="form-group">
        <input class="form-control form-control-lg" type="submit" value="Submit">
     </div>
     {% csrf_token %}
</form>

{% endblock %}

</body>
</html>