{% extends "layout.html" %}
{% block content %}

<h1>General Report Customisation</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     <!--include libraries(jQuery, bootstrap)-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <!-- include summernote css/js-->
    {% load staticfiles %}
    <link href="{% static 'css/summernote-lite.css' %}" rel="stylesheet">
    <script src="{% static 'js/summernote-lite.js' %}"></script>

<script>
  var i = 1;
  function addParameterGroup(){
    var node = document.getElementById('para-grp-1');
    var clone = node.cloneNode(true);
    i++;
    clone.id = 'para-grp-' + i;
    node.parentNode.appendChild(clone);


    var cloneChild = document.getElementById('para-grp-' + i).childNodes;
    cloneChild[3].childNodes[3].id = "gen-para-" + i;
    cloneChild[5].childNodes[3].id = "gen-para-" + i + "-value";
    cloneChild[7].childNodes[1].id = "gen-para-" + i + "-blank-check";
    cloneChild[9].childNodes[1].id = "gen-para-" + i + "-not-blank-check";
  }
</script>

<script>
    $(document).ready(function() {
      $('#summernote').summernote();
    });
</script>

<form>
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlInput1">Email address</label>-->
    <!--<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">-->
  <!--</div>-->
    <div id="para-list">
    <div id="para-grp-1">
        <div class="form-group"><br><br></div>
  <div class="form-group">
    <label for="gen-para-1">Parameter select</label>
    <select class="form-control form-control-lg" id="gen-para-1">
      <option>Email</option>
      <option>First Name</option>
      <option>Last Name</option>
      <option>Company</option>
      <option>Mobile Phone</option>
      <option>Address</option>
      <option>City</option>
      <option>Last Working</option>
      <option>Specialization</option>
      <option>Education</option>
      <option>Source</option>
      <option>My Learn Flag</option>
      <option>Created On</option>
      <option>ID Proof</option>
      <option>Delete</option>
    </select>
  </div>
    <div class="form-group">
        <label for="gen-para-1-value">Value Desired</label>
        <input id="gen-para-1-value" class="form-control form-control-lg" type="text" placeholder="Value">
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="gen-para-1-blank-check">
        <span><label class="form-check-label" for="gen-para-1-blank-check">Blank</label></span>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="gen-para-1-not-blank-check">
        <span><label class="form-check-label" for="gen-para-1-not-blank-check">Not Blank</label></span>
    </div>
</div>
    </div>

    <div class="form-group"><br><br></div>
    <div class="form-group">
        <input type="button" id="add-para" class="btn btn-primary form-control form-control-lg" value="+" onclick="addParameterGroup();"/>
    </div>
        <div class="form-group"><br><br></div>

    <div id="email-part">
        <div class="form-group">
            <input type="text" id="email-part-subject" class="form-control form-control-lg" placeholder="Subject"/>
        </div>
        <!--<div class="form-group">-->
            <!--<textarea rows="10" id="email-part-body" class="form-control form-control-lg" placeholder="Body"></textarea>-->
        <!--</div>-->
        <div class="form-group">
            <div id="summernote">Email Body</div>
        </div>
    </div>
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlSelect2">Example multiple select</label>-->
    <!--<select multiple class="form-control" id="exampleFormControlSelect2">-->
      <!--<option>1</option>-->
      <!--<option>2</option>-->
      <!--<option>3</option>-->
      <!--<option>4</option>-->
      <!--<option>5</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
    <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
  <!--</div>-->

    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control form-control-lg" id="Submit">Send Email</button>
    </div>
</form>

{% endblock %}