{% extends "layout.html" %}
{% block content %}

<h1>VLZ Report Customisation</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  var i = 1;
  setCookie('parameter_count', i, 1);

  function addParameterGroup(){
    var node = document.getElementById('para-grp-1');
    var clone = node.cloneNode(true);
    i++;
    clone.id = 'para-grp-' + i;
    node.parentNode.appendChild(clone);


    var cloneChild = document.getElementById('para-grp-' + i).childNodes;
    cloneChild[3].childNodes[3].id = "vlz-para-" + i;cloneChild[3].childNodes[3].name = "vlz-para-" + i;
    cloneChild[5].childNodes[3].id = "vlz-para-" + i + "-value";cloneChild[5].childNodes[3].name = "vlz-para-" + i + "-value";
    cloneChild[7].childNodes[1].id = "vlz-para-" + i + "-blank-check";cloneChild[7].childNodes[1].name = "vlz-para-" + i + "-blank-check";
    cloneChild[9].childNodes[1].id = "vlz-para-" + i + "-not-blank-check";cloneChild[9].childNodes[1].name = "vlz-para-" + i + "-not-blank-check";

    setCookie('parameter_count', i, 1);
  }

  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
</script>

<form method="post" action="{% url 'mail_sender:customise_vlz' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="para-list">
    <div id="para-grp-1">
        <div class="form-group"><br><br></div>
  <div class="form-group">
    <label for="vlz-para-1">Parameter select</label>
    <select class="form-control form-control-lg" id="vlz-para-1" name="vlz-para-1">
      {% for parameter in parameters %}
        <option> {{ parameter }} </option>
        {% endfor %}
    </select>
  </div>
    <div class="form-group">
        <label for="vlz-para-1-value">Value Desired</label>
        <input id="vlz-para-1-value" class="form-control form-control-lg" type="text" placeholder="Value" name="vlz-para-1-value">
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="vlz-para-1-blank-check" name="vlz-para-1-blank-check">
        <span><label class="form-check-label" for="vlz-para-1-blank-check">Blank</label></span>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="vlz-para-1-not-blank-check" name="vlz-para-1-not-blank-check">
        <span><label class="form-check-label" for="vlz-para-1-not-blank-check">Not Blank</label></span>
    </div>
</div>
    </div>

    <div class="form-group"><br><br></div>
    <div class="form-group">
        <input type="button" id="add-para" class="btn btn-primary form-control form-control-lg" value="+" onclick="addParameterGroup();"/>
    </div>
        <div class="form-group"><br><br></div>

    <div id="email-part">
        <div class="form-group">
            <input type="text" id="email-part-subject" class="form-control form-control-lg" placeholder="Subject" name="email-part-subject"/>
        </div>
        <div class="form-group">
            {{ form.media }}
            {{ form.as_p }}
        </div>
    </div>

    <br><br>

    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control form-control-lg" id="Submit">Send Email</button>
    </div>
</form>

{% endblock %}

</body>
</html>