<html>
<head>
    <title>Taara Mail</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
        <div class="header home">
        <div class="row">
          <div class="jumbotron col-10 offset-1 form-group">
            <h1>Login via O365 to continue</h1>

            <div class="container-fluid click jumbotron">
                <div class="row">
                    <div class="row col-sm-4 offset-3 form-group">
                        <a href = "{{ signin_url }}" target="_self"><div class="btn btn-lg btn-primary form-control-lg">Login</div></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>